<div class="site-content-wrap">
<section class="site-content">
  <div class="white-wrap">
    <div class="wrap">
    <% unless params[:taxonomy] == 'categories' %>
      <!-- .brand -->
        <section class="brand">
          <%= image_tag @taxon.icon.url(:normal) if @taxon.icon.exists? %>
          <article>
            <hgroup>
              <h1>
              	<% if @taxon.permalink.include? 'publisher'%>
              	Издательство&nbsp;&laquo;<%= @taxon.name %>&raquo;
              	<% else %>
              	<%= @taxon.name %>
              	<% end %>
                <%= ' / ' + @category.name if @category %>
              </h1>
              <h2><%= @taxon.subtitle %></h2>
            </hgroup>
            <p>
              <%= @taxon.description.html_safe rescue '' %>
            </p>
          </article>
        </section>
      <!-- /.brand -->
    <% end %>

    <%= content_for :subnav do %>
      <nav class="sub-direction-nav">
      <% if params[:taxonomy] == 'categories' && ( get_subcategory(params).children.present? || params[:subtaxon]) %>
        <ul>
          <% if get_subcategory(params).children.present? %>
            <% unless params[:subtaxon] %>
              <li class="current">
            <% else %>
              <li>
            <% end %>
              <%= link_to 'Все', get_subcategory(params).permalink %>
          <% end %>

          <% get_subcategory(params).children.each do |taxon| %>
              <% if request.path == taxon.permalink %>
                <li class="current">
              <% else %>
                <li>
              <% end %>
                <%= link_to taxon.name, taxon.permalink %>
              </li>
          <% end %>
        </ul>
      <% end %>
      </nav>
    <% end %>

    <% unless @products.empty? %>
      <!-- catalogue -->
      <section class="catalogue">
        <%= render "shared/products_sorting", :products => @products %>
        <%= render "shared/products", :products => @products %>
        <%= render "shared/products_pagination", :products => @products %>
      </section>
      <!-- /catalogue -->
    <% else %>
      <%= t(:no_products_found) %>
    <% end %>
    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.white-wrap -->
</section>
</div>
<!-- /.content -->