<section class="site-content">
  <div class="white-wrap">
    <div class="wrap">
    <% unless params[:taxonomy] && params[:taxonomy] == 'categories' %>
      <!-- .brand -->
        <section class="brand">
          <%= image_tag @taxon.icon.url(:normal) %>
          <article>
            <hgroup>
              <h1><%= @taxon.name %></h1>
              <h2>Книги, часы, для компьютера, обложки на паспорт, сумки.</h2>
            </hgroup>
            <p>
              <%= @taxon.description %>
            </p>
          </article>
        </section>
      <!-- /.brand -->
    <% end %>

    <% unless @products.empty? %>
      <!-- catalogue -->
      <section class="catalogue">
        <%= render "shared/products_sorting", :products => @products %>
        <%= render "shared/products", :products => @products %>
        <%= render "shared/products_pagination", :products => @products %>
      </section>
      <!-- /catalogue -->
    <% else %>
      <%= t(:no_products_found) %>
    <% end %>
    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.white-wrap -->
</section>
<!-- /.content -->