<% @addresses = current_user ? current_user.addresses : [] %>

<header>
  <h3>Адреса</h3>
</header>

<div class="formset">

  <div class="adress-choise">
      <% if @addresses.present? %>
        <% @addresses.each_with_index do |address, idx| %>
        <fieldset>
          <%= form.radio_button "ship_address_id", address.id, :checked => (idx == 0) %> 
          <%= form.label ["ship_address_id", address.id], address.to_s %>
          </fieldset>
        <% end %>
        <fieldset>
          <%= form.radio_button "ship_address_id", 0, class: 'new_address_radio' %>
          <%= form.label ["ship_address_id", 0], t('other_address') %>
        </fieldset>
      <% end %>
  </div>

  <%= form.fields_for :ship_address do |ship_form| %>
  
	<% @order.ship_address.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>  
  
    <div class="all-fields" <%= "style=display:none;" if @addresses.present? && @order.ship_address.errors.empty? %>>
    <!-- .fields -->
    <div class="fields">

      <%= render 'shared/field_with_error', form: ship_form, name: :lastname, 
                 label: 'Фамилия', class_name: 'required', errors: @order.ship_address.errors %>

      <%= render 'shared/field_with_error', form: ship_form, name: :firstname, 
                 label: 'Имя', class_name: 'required', errors: @order.ship_address.errors %>

      <%= render 'shared/field_with_error', form: ship_form, name: :secondname, 
                 label: 'Отчество', errors: @order.ship_address.errors %>

      <% has_errors = @order.ship_address.errors[:country_id].present? %>
      <fieldset <% if has_errors %>class="fieldset-with-error js-fieldset-with-error"<% end %>>
        <%= ship_form.label :country_id, 'Страна' %>
        <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:ass => 'required'} %>
        <% if has_errors %>
        	<div class="error-text"><%= @order.ship_address.errors[:country_id][0] %></div>
        <% end %>
      </fieldset>

      <% has_errors = @order.ship_address.errors[:state].present? %>
      <fieldset <% if has_errors %>class="fieldset-with-error js-fieldset-with-error"<% end %>>
        <% have_states = !@order.ship_address.country.states.empty? %>
          <%= ship_form.label :state, 'Регион/область' %>
          <noscript>
            <%= ship_form.text_field :state_name, :class => 'required' %>
          </noscript>
          <% state_elements = [
                ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                  :id, :name,
                                  {:include_blank => 'Выберите область'},
                                  {:class => have_states ? "required" : "hidden",
                                  :disabled => !have_states}) +
                ship_form.text_field(:state_name,
                                  :class => !have_states ? "required" : "hidden",
                                  :disabled => have_states)
              ].join.gsub('"', "'").gsub("\n", "")
          %>
          <script type="text/javascript" language="javascript" charset="utf-8">
          // <![CDATA[
          document.write("<%== state_elements %>");
          $(function() {
          	$('#order_ship_address_attributes_state_id').change(function() {
          		var val = $('#order_ship_address_attributes_state_id option:selected').val();
          		if (val == 77 || val == 78) {
          			$('#order_ship_address_attributes_city').val($('#order_ship_address_attributes_state_id option:selected').text());
          		}
          	});
          });
          // ]]>
          </script>
        <% if has_errors %>
        	<div class="error-text"><%= @order.ship_address.errors[:state][0] %></div>
        <% end %>
      </fieldset>

    </div>
    <!-- /.fields -->
    <!-- .fields -->
    <div class="fields">

      <%= render 'shared/field_with_error', form: ship_form, name: :city, 
                 label: 'Город', class_name: 'required', errors: @order.ship_address.errors %>

      <%= render 'shared/field_with_error', form: ship_form, name: :zipcode, 
                 label: 'Индекс', class_name: 'required postal_mask', errors: @order.ship_address.errors %>

      <%= render 'shared/field_with_error', form: ship_form, name: :address1, 
                 label: 'Адрес', class_name: 'required', errors: @order.ship_address.errors %>

      <%= render 'shared/field_with_error', form: ship_form, name: :phone, 
                 label: 'Телефон', class_name: 'required phone_mask', errors: @order.ship_address.errors %>      
    </div>
    <!-- /.fields -->
  </div>
  <% end %>
</div>
<!-- .controls -->
<div class="controls controls-big top-decor">
  <a href="" role="cancel">Отмена</a>
  <input type="submit" value="Сохранить">
</div>
<!-- /.controls -->

<!-- .forms-info -->
<section class="forms-info info-big top-decor">
  <article>
    Обращаем ваше внимание, что мы отправляем заказы только по России. Для того, чтобы приобрести и доставить товар в другую страну – <a href="/info#about">свяжитесь с нами</a> лично.
  </article>
</section>
<!-- /.forms-info -->

