<% @addresses = current_user ? current_user.addresses : [] %>

<header>
  <h3>Адреса</h3>
</header>

<div class="formset">

  <div class="adress-choise">
      <% if @addresses.present? %>
        <% @addresses.each_with_index do |address, idx| %>
        <fieldset>
          <%= form.radio_button "ship_address_id", address.id, :checked => (idx == 0) %> 
          <%= form.label ["ship_address_id", address.id], address.to_s %>
          </fieldset>
        <% end %>
        <fieldset>
          <%= form.radio_button "ship_address_id", 0, class: 'new_address_radio' %>
          <%= form.label ["ship_address_id", 0], t('other_address') %>
        </fieldset>
      <% end %>
  </div>

  <%= form.fields_for :ship_address do |ship_form| %>

    <% if @order.ship_address.errors %>
      <% @order.ship_address.errors.each do |field, msg| %>
        Поле "<%= @order.ship_address.class.human_attribute_name(field) %>" <%= msg %>.<br />
      <% end %>
    <% end %>

    <div class="all-fields" <%= "style=display:none;" if @addresses.present? && @order.ship_address.errors.empty? %>>
    <!-- .fields -->
    <div class="fields">
      <fieldset>
        <%= ship_form.label :lastname, 'Фамилия' %>
        <%= ship_form.text_field :lastname, :class => 'required' %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :firstname, 'Имя' %>
        <%= ship_form.text_field :firstname, :class => 'required' %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :secondname, 'Отчество' %>
        <%= ship_form.text_field :secondname %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :country_id, 'Страна' %>
        <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:ass => 'required'} %>
      </fieldset>
      <fieldset>
        <% have_states = !@order.ship_address.country.states.empty? %>
          <%= ship_form.label :state, 'Регион/область' %>
          <noscript>
            <%= ship_form.text_field :state_name, :class => 'required' %>
          </noscript>
          <% state_elements = [
                ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                  :sort, :name,
                                  {:include_blank => 'Выберите область'},
                                  {:class => have_states ? "required" : "hidden",
                                  :disabled => !have_states}) +
                ship_form.text_field(:state_name,
                                  :class => !have_states ? "required" : "hidden",
                                  :disabled => have_states)
              ].join.gsub('"', "'").gsub("\n", "")
          %>
          <script type="text/javascript" language="javascript" charset="utf-8">
          // <![CDATA[
          document.write("<%== state_elements %>");
          // ]]>
          </script>
      </fieldset>
    </div>
    <!-- /.fields -->
    <!-- .fields -->
    <div class="fields">
      <fieldset>
        <%= ship_form.label :city, 'Город' %>
        <%= ship_form.text_field :city, :class => 'required' %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :zipcode, 'Индекс' %>
        <%= ship_form.text_field :zipcode, :class => 'required postal_mask' %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :address1, 'Адрес' %>
        <%= ship_form.text_field :address1, :class => 'required' %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :phone, 'Телефон' %>
        <%= ship_form.text_field :phone, :class => 'required phone_mask' %>
      </fieldset>
    </div>
    <!-- /.fields -->
  </div>
  <% end %>
</div>
<!-- .controls -->
<div class="controls controls-big top-decor">
  <a href="" role="cancel">Отмена</a>
  <input type="submit" value="Сохранить">
</div>
<!-- /.controls -->

<!-- .forms-info -->
<section class="forms-info info-big top-decor">
  <article>
    Обращаем ваше внимание, что мы отправляем заказы только по России. Для того, чтобы приобрести и доставить товар в другую страну – <a href="/info#about">свяжитесь с нами</a> лично.
  </article>
</section>
<!-- /.forms-info -->

