<% @addresses = current_user ? current_user.addresses : [] %>

<header>
  <h3>Адреса</h3>
</header>

<div class="formset">

  <div class="adress-choise">
      <% if @addresses.present? %>
        <% @addresses.each_with_index do |address, idx| %>
        <fieldset>
          <%= form.radio_button "ship_address_id", address.id, :checked => (idx == 0) %> 
          <%= form.label ["ship_address_id", address.id], address.to_s %>
          </fieldset>
        <% end %>
        <fieldset>
          <%= form.radio_button "ship_address_id", 0, class: 'new_address_radio' %>
          <%= form.label ["ship_address_id", 0], t('other_address') %>
        </fieldset>
      <% end %>
  </div>

  <%= form.fields_for :ship_address do |ship_form| %>
  
            <% if @order.ship_address.errors %>
            <% @order.ship_address.errors.full_messages.each do |msg| %>
              <%= msg %><br />
            <% end %>
          <% end %>

    <div class="all-fields" <%= "style=display:none;" if @addresses.present? && @order.ship_address.errors.empty? %>>
    <!-- .fields -->
    <div class="fields">
      <fieldset>
        <%= ship_form.label :lastname, 'Фамилия' %>
        <%= ship_form.text_field :lastname, :class => 'required' %>
        <% if @order.ship_address.errors[:lastname].present?%>
        	<div><%= @order.ship_address.errors[:lastname][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :firstname, 'Имя' %>
        <%= ship_form.text_field :firstname, :class => 'required' %>
        <% if @order.ship_address.errors[:firstname].present?%>
        	<div><%= @order.ship_address.errors[:firstname][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :secondname, 'Отчество' %>
        <%= ship_form.text_field :secondname %>
        <% if @order.ship_address.errors[:secondname].present?%>
        	<div><%= @order.ship_address.errors[:secondname][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :country_id, 'Страна' %>
        <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:ass => 'required'} %>
        <% if @order.ship_address.errors[:country_id].present?%>
        	<div><%= @order.ship_address.errors[:country_id][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <% have_states = !@order.ship_address.country.states.empty? %>
          <%= ship_form.label :state, 'Регион/область' %>
          <noscript>
            <%= ship_form.text_field :state_name, :class => 'required' %>
          </noscript>
          <% state_elements = [
                ship_form.collection_select(:state_id, @order.bill_address.country.states,
                                  :id, :name,
                                  {:include_blank => 'Выберите область'},
                                  {:class => have_states ? "required" : "hidden",
                                  :disabled => !have_states}) +
                ship_form.text_field(:state_name,
                                  :class => !have_states ? "required" : "hidden",
                                  :disabled => have_states)
              ].join.gsub('"', "'").gsub("\n", "")
          %>
          <script type="text/javascript" language="javascript" charset="utf-8">
          // <![CDATA[
          document.write("<%== state_elements %>");
          $(function() {
          	$('#order_ship_address_attributes_state_id').change(function() {
          		var val = $('#order_ship_address_attributes_state_id option:selected').val();
          		if (val == 77 || val == 78) {
          			$('#order_ship_address_attributes_city').val($('#order_ship_address_attributes_state_id option:selected').text());
          		}
          	});
          });
          // ]]>
          </script>
        <% if @order.ship_address.errors[:state_id].present? %>
        	<div><%= @order.ship_address.errors[:state_id][0] %></div>
        <% end %>
      </fieldset>
    </div>
    <!-- /.fields -->
    <!-- .fields -->
    <div class="fields">
      <fieldset>
        <%= ship_form.label :city, 'Город' %>
        <%= ship_form.text_field :city, :class => 'required' %>
        <% if @order.ship_address.errors[:city].present?%>
        	<div><%= @order.ship_address.errors[:city][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :zipcode, 'Индекс' %>
        <%= ship_form.text_field :zipcode, :class => 'required postal_mask' %>
        <% if @order.ship_address.errors[:zipcode].present?%>
        	<div><%= @order.ship_address.errors[:zipcode][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :address1, 'Адрес' %>
        <%= ship_form.text_field :address1, :class => 'required' %>
        <% if @order.ship_address.errors[:address1].present?%>
        	<div><%= @order.ship_address.errors[:address1][0] %></div>
        <% end %>
      </fieldset>
      <fieldset>
        <%= ship_form.label :phone, 'Телефон' %>
        <%= ship_form.text_field :phone, :class => 'required phone_mask' %>
        <% if @order.ship_address.errors[:phone].present?%>
        	<div><%= @order.ship_address.errors[:phone][0] %></div>
        <% end %>
      </fieldset>
    </div>
    <!-- /.fields -->
  </div>
  <% end %>
</div>
<!-- .controls -->
<div class="controls controls-big top-decor">
  <a href="" role="cancel">Отмена</a>
  <input type="submit" value="Сохранить">
</div>
<!-- /.controls -->

<!-- .forms-info -->
<section class="forms-info info-big top-decor">
  <article>
    Обращаем ваше внимание, что мы отправляем заказы только по России. Для того, чтобы приобрести и доставить товар в другую страну – <a href="/info#about">свяжитесь с нами</a> лично.
  </article>
</section>
<!-- /.forms-info -->

