<!-- approve info -->
  <div class="approve">
    <header>
      <h3>Адрес доставки</h3>
    </header>
    <article>
      <%= @order.ship_address.to_s %> 
      <%= link_to 'Изменить', checkout_state_path('address') %>
    </article>
  </div>
  <!-- /approve info -->
  <!-- approve info -->
  <div class="approve">
    <header>
      <h3>Способ доставки</h3>
    </header>
    <article>
      <%= @order.shipment.shipping_method.name %> — <%= @order.shipment.cost.to_i rescue 0 %> <span class="rouble">Р<span></span></span> <%= link_to 'Изменить', checkout_state_path('delivery') %>
    </article>
  </div>
  <!-- /approve info -->
  <!-- approve info -->
  <div class="approve">
    <header>
      <h3>Способ оплаты</h3>
    </header>
    <article>
      <%= @order.payment_method.name %> <%= link_to 'Изменить', checkout_state_path('payment') %>
    </article>
  </div>
  <!-- /approve info -->
  <!-- .adress-choise -->
  <div class="adress-choise">
    <div class="payment-comment">
      <h3>Ваш комментарий</h3>
      <%= form.text_area :special_instructions, cols: 30, rows: 10, placeholder: 'Укажите здесь удобное для вас время, в которое мы можем с вами связаться, адрес постомата из котого  вы хотели бы забрать свой заказ, или любую другую информацию, которую вы считаете нужным донести до нас.' %>
    </div>

    <!-- .controls -->
    <div class="controls">
      <input type="submit" value="Оплатить">
    </div>
    <!-- /.controls -->

  </div>
<!-- /.adress-choise -->