<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Оформление заказа</h1>
          </header>
        </section><br /><br />
        <!-- /.account -->

        <section class="forms auth">
          <%= render 'shared/login' %>
        </section>

        <!-- .forms -->
        <section class="forms auth">
          <h3>Войти как гость</h3>
          <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>

            <% if @order.errors %>
              <% @order.errors.each do |field, msg| %>
                Поле "<%= @order.class.human_attribute_name(field) %>" <%= msg %>.<br />
              <% end %>
            <% end %>

            <!-- field -->
            <fieldset>
              <%= f.label :email, 'Электронная почта' %><br />
              <%= f.text_field :email, :class => 'title'  %>
            </fieldset>
            <!-- /field -->
            <!-- .controls -->
            <div class="controls">
              <%= submit_tag 'Продолжить' %>
            </div>
            <!-- /.controls -->
          <% end %>
        </section>
        <!-- /.forms -->

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->