<%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>

<%= f.inputs do %>
  <%= f.input :title, label: 'Заголовок' %>
  <%= f.input :subtitle, label: 'Подзаголовок' %>
  <li><%= image_tag @banner.asset.url(:thumb) unless params[:action] == 'new' %></li>
  <%= f.input :asset, label: 'Изображение' %>
  <%= f.input :link, label: 'Ссылка' %>
  <%= f.input :price, label: 'Цена' %>
  <%= f.input :description, label: 'Описание' %>
<% end %>
