<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <section class="forms auth">

          <h3><%= t(:change_my_password) %></h3>

          <% if @user && @user.errors %>
            <% @user.errors.full_messages.each do |msg| %>
              <% if msg == 'Reset password token имеет неверное значение' || msg == 'Reset password token не может быть пустым' %>
                Что-то пошло не так и восстановить пароль не удалось. 
                Скорее всего, ссылка восстановления пароля устарела 
                или вы попытались восстановить пароль второй раз по одной и той же ссылке.
                Запросите письмо с инструкциями еще раз и попробуйте снова.<br /><br />
              <% else %>
                <%= msg %><br />
              <% end %>
            <% end %>
          <% end %>

          <% if @error %>
            <%= @error %></br>
          <% end %>

          <%= form_for @user, :url => user_password_path, :html => {:method => :put, autocomplete: :off} do |f| %>
            <fieldset>
              <%= f.label :password %><br />
              <%= f.password_field :password %><br />
            </fieldset>
            <fieldset>
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %><br />
            </fieldset>
            <%= f.hidden_field :reset_password_token %>
            <div class="controls">
              <input class="blue" type="submit" value="Cохранить">
            </div>
          <% end %>

        </section>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->