<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <section class="forms auth">

          <h3><%= t(:forgot_password) %></h3>

          <p>Заполните форму ниже и инструкции для восстановления будут отправлен вам по указанному email.</p>

          <% if flash %>
            <% flash.each do |msg| %>
              <%= msg[1] %><br />
            <% end %>
          <% end %>

          <%= form_for User.new, :as => :user, :url => user_password_path do |f| %>
            <fieldset>
              <%= f.label :email %>
              <%= f.text_field :email %><br />
   	          	<% if @user.errors[:email].present? %>
	        		<div><%= @user.errors[:email][0] %></div>
	          	<% end %>                  
            </fieldset>
            <div class="controls">
              <input class="blue" type="submit" value="Готово">
            </div>
          <% end %>

        </section>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->