<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Моя учетная запись</h1>
            <span class="nickname"><%= User.find(@user).email %></span>
            <%= link_to 'Изменить', edit_account_path %>
          </header>
        </section>
        <!-- /.account -->

        <!-- .adresses -->
        <section class="forms addresses">
          <header>
            <h3>Адреса</h3>
            <%= link_to 'Добавить', new_address_path %>
          </header>
          
          <!-- form .formset -->
          <%= form_for(@user, :html => { :method => :put, autocomplete: :off }) do |f| %>

            <% if @user.errors %>
              <% @user.errors.each do |field, msg| %>
                Поле "<%= @user.class.human_attribute_name(field) %>" <%= msg %>.<br />
              <% end %>
            <% end %>
            
            <div class="formset">

              <!-- .fields -->
              <div class="fields">
                <fieldset>
                  <%= f.label :email, t("email") %>
                  <%= f.text_field :email %>
    	          <% if @user.errors[:email].present? %>
			      	<div><%= @user.errors[:email][0] %></div>
			      <% end %>                  
                </fieldset>
                <fieldset>
                  <%= f.label :password, t("password") %>
                  <%= f.password_field :password %>
    	          <% if @user.errors[:password].present? %>
			      	<div><%= @user.errors[:password][0] %></div>
			      <% end %>                  
                </fieldset>
                <fieldset>
                  <%= f.label :password_confirmation, t(:confirm_password) %>
                  <%= f.password_field :password_confirmation %>
    	          <% if @user.errors[:password_confirmation].present? %>
			      	<div><%= @user.errors[:password_confirmation][0] %></div>
			      <% end %>                  
                </fieldset>
              </div>
              <!-- /.fields -->

            </div>
            <!-- .controls -->
            <div class="controls controls-small">
              <%= link_to 'Отмена', account_path %>
              <input type="submit" value="Сохранить">
            </div>
            <!-- /.controls -->
          <% end %>
          <!-- form .formset -->

        </section>
        <!-- /.adresses -->

        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->


