<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Моя учетная запись</h1>
            <span class="nickname"><%= User.find(@user).email %></span>
            <%= link_to 'Изменить', edit_account_path %>
          </header>
        </section>
        <!-- /.account -->

        <!-- .adresses -->
        <section class="forms addresses">
          <header>
            <h3>Адреса</h3>
            <%= link_to 'Добавить', new_address_path %>
          </header>
          
          <!-- form .formset -->
          <%= form_for(@user, :html => { :method => :put, autocomplete: :off }) do |f| %>
            
            <div class="formset">

              <!-- .fields -->
              <div class="fields">
                <%= render 'shared/field_with_error', form: f, name: :email, 
                           label: t('email'), errors: @user.errors %>

                <%= render 'shared/field_with_error', form: f, name: :password, 
                           label: t('password'), errors: @user.errors, type: :password %>

                <%= render 'shared/field_with_error', form: f, name: :password_confirmation, 
                           label: t(:confirm_password), errors: @user.errors, type: :password %>
              </div>
              <!-- /.fields -->

            </div>
            <!-- .controls -->
            <div class="controls controls-small">
              <%= link_to 'Отмена', account_path %>
              <input type="submit" value="Сохранить">
            </div>
            <!-- /.controls -->
          <% end %>
          <!-- form .formset -->

        </section>
        <!-- /.adresses -->

        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->


