<!-- .content -->
<div class="site-content-wrap">
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Моя учетная запись</h1>
            <span class="nickname"><%= @user.email %></span>
            <%= link_to 'Изменить', edit_account_path %>
          </header>
        </section>
        <!-- /.account -->

        <% if @orders.present? %>
        <!-- .orders -->
        <section class="orders">
          <h3>Мои Заказы</h3>
          <!-- table of orders -->
          <table>
            <tbody>
              <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Статус платежа</th>
                <th>Статус отправки</th>
                <th>Итого</th>
                <th>Отслеживание</th>
              </tr>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to order.number, order_url(order) %></td>
                  <td><%= order.completed_at.to_date %></td>
                  <td><%= t(order.state).titleize %></td>
                  <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
                  <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
                  <td><%= order.total.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
                  <% if not order.shipments.empty? %>
                  <td><%= order.shipments[0].tracking %></td>
                  <% else %>
                  <td></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <!-- /table of orders -->
        </section>
        <!-- /.orders -->
        <% end %>

        <!-- .adresses -->
        <section class="addresses">
          <header>
            <h3>Адреса</h3>
            <%= link_to 'Добавить', new_address_path %>
          </header>
          <% if @user.addresses.present? %>
            <% @user.addresses.each do |address| %>
              <div class="adress">
                <div class="desc">
                  <%= address %>
                </div>
                <div class="controls">
                  <%= link_to 'Редактировать', edit_address_path(address) %>
                  <%= link_to 'Удалить', address_path(address), :method => :delete, :confirm => 'Вы уверены?' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </section>
        <!-- /.adresses -->

        </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
</div>
<!-- /.content -->
