<% unless current_order %>
  ...
<% else %>  
  <% current_order.line_items.each do |line_item| %>
    <!-- .item -->
      <div class="item">
        <% unless line_item.product.images.empty? %>
          <%= image_tag line_item.product.images.first.attachment.url(:small) %>
        <% else %>
          <%= image_tag '/images/noimage/small.jpg' %>
        <% end %>      	
        <div class="desc">
          <span class="name"><%= line_item.variant.name.truncate(35) %></span>
          <span class="price"><%= line_item.price %> <span class="rouble">p<span></span></span></span>
          <!-- .contols -->
          <div class="controls">
            <div class="inputs">
              <%= link_to '-', minus_line_item_path(line_item.id), remote: true, method: 'post', class: 'minus' %>
              <span class="count quantity"><%= line_item.quantity %></span>
              <%= link_to '+', plus_line_item_path(line_item.id), remote: true, method: 'post', class: 'plus' %>
            </div>
            <%= link_to 'p', delete_line_item_path(line_item.id), remote: true, method: 'post', class: 'delete' %>
          </div>
          <!-- /.contols -->
        </div>
      </div>
    <!-- /.item -->
  <% end %>
<% end %>