<!-- .direction-nav -->
  <nav class="direction-nav">
    <table>
   	<tr>
      <% if params[:controller] == 'products' && params[:action] == 'index' %>
        <td class="current">
      <% else %>
        <td>
      <% end %>
        <%= link_to 'Все', products_url %>
      	</td>

      <% all_categories.each do |taxon| %>
        <% if params[:taxonomy] && params[:taxon] && '/' + params[:taxonomy] + '/' + params[:taxon] == taxon.permalink %>
          <td class="current">
        <% elsif @product && @product.category == taxon.name %>
          <td class="current">  
        <% else %>
          <td>
        <% end %>
          <%= link_to taxon.name, taxon.permalink %>
        </td>
      <% end %>

      <% if params[:taxonomy] && '/' + params[:taxonomy] == '/publishers' %>
        <td class="publishers current">
      <% else %>
        <td class="publishers">
      <% end %>
        <%= link_to 'Издательства', '/publishers' %>
      </td>

      <% if params[:taxonomy] && '/' + params[:taxonomy] == '/designers' %>
        <td class="designers current">
      <% else %>
        <td class="designers">
      <% end %>
        <%= link_to 'Дизайнеры', '/designers' %>
      </td>
      </tr>
    </table>
  </nav>
<!-- /.direction-nav -->

<%= yield :subnav %>