<% products.each do |product| %>
  <!-- shop-item -->
  <div structure="product-preview" class="item" href="">
    <%= link_to product do %>
      <div class="img_wrap">
        <% unless product.images.empty? %>
          <%= image_tag product.images.first.attachment.url(:product) %>
        <% else %>
          <%= image_tag '/images/noimage/one_noimage.png' %>
        <% end %>
      </div>

      <article>
        <% if product.sale_price %>
          <span class="price ops"><%= product.price.to_i rescue 0 %> <span class="rouble">p</span></span>
          <span class="price sale"><%= product.sale_price.to_i rescue 0 %> <span class="rouble">p</span></span>
        <% else %>
          <span class="price"><%= product.price.to_i rescue 0 %> <span class="rouble">p</span></span>
        <% end %>

        <h2><% if product.author %><span style="font-size: 10px;"><%= product.author%></span><% end %><%= product.name %></h2>
      </article>
    <% end %>
    <% if product.on_hand > 0 %>
      <%= form_for :order, :url => populate_orders_url, remote: true do |f| %>
        <%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1 %>             
        <a href="" class="add-to-cart">t</a> 
      <% end %>
    <% end %>
  </div>
  <!-- /shop-item -->
<% end %>          

      