<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
      
        <!-- sorting -->
        <nav class="sorting">
          <ul>
            <li>Сортировка:</li>
            <li><a href="" class="none">по названию</a></li>
            <li><a href="" class="none">по цене</a></li>
            <li><a href="" class="none">по приветствию</a></li>
          </ul>
          <ul>
            <li>Материал:</li>
            <li><a href="" class="none">ПВХ</a></li>
            <li><a href="" class="none">текстиль</a></li>
            <li><a href="" class="none">кожа</a></li>
          </ul>
        </nav>
        <!-- /.sorting -->

        <!-- catalogue -->
        <section class="catalogue">

          <% @products.each do |product| %>
            <!-- shop-item -->
            <div structure="product-preview" class="item" href="">
              <%= link_to product do %>
                <%= product_image(product) %>
                <article>
                  <span class="price"><%= product.price %></span>
                  <h2><%= product.name %></h2>
                  <p><%= product.description %></p>
                </article>
              <% end %>
              <%= form_for :order, :url => populate_orders_url, remote: true do |f| %>
                <%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1 %>             
                <a href="" class="add-to-cart">t</a> 
              <% end %>
            </div>
            <!-- /shop-item -->
          <% end %>

          

        </section>
        <!-- /catalogue -->

        <!-- pagination -->
        <nav class="pagination">
          <ul>
            <% if @products.previous_page %>
              <li class="arrow arrow-left"><%= link_to 'e', "/products?page=#{@products.previous_page}" %></li>
              <li><%= link_to '1', "/products?page=1" %></li>
            <% end %>

            <% if @products.current_page < @products.total_pages + 1 && @products.current_page - 3 >= 1 %>
              <li><span>...</span></li>
            <% end %>

            <% if @products.current_page  > 2 %>
              <li><%= link_to @products.current_page - 1, "/products?page=#{@products.current_page - 1}" %></li>
            <% end %>
            <li class="current"><%= link_to @products.current_page, "/products?page=#{@products.current_page}" %></li>
            <% if @products.current_page < @products.total_pages - 1 %>
              <li><%= link_to @products.current_page + 1, "/products?page=#{@products.current_page + 1}" %></li>
            <% end %>
 
            <% if @products.current_page < @products.total_pages - 1 && (@products.total_pages - @products.current_page) > 2 %>
              <li><span>...</span></li>
            <% end %>

            <% if @products.current_page < @products.total_pages %>
              <li><%= link_to @products.total_pages, "/products?page=#{@products.total_pages}" %></li>
              <li class="arrow arrow-right"><%= link_to 'r', "/products?page=#{@products.next_page}" %></li>
            <% end %>
          </ul>
        </nav>
        <!-- /.pagination -->

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content