<!-- .promo -->
  <section id="slides" class="promo">

    <!-- .baners - here rotate baners -->
    <div class="baners slides_container">
      <% if @banners %>
        <% @banners.each do |banner| %>

          <!-- .baner-item -->
            <div class="item">
              <%= link_to url_with_protocol(banner.link), :class => "cart_img" do %>
                <%= image_tag banner.asset.url(:main) %>
              <% end %>
                <article>
                  <hgroup>
                    <h2><%= link_to banner.title, url_with_protocol(banner.link) %></h2>
                    <h3><%= banner.subtitle if banner.subtitle %></h3>
                  </hgroup>
                    <p>
                      <%= banner.description.html_safe if banner.description %>
                    </p>
                      <span class="price"><%= banner.price if banner.price %></span>
                </article>
            </div>
          <!-- /.baner-item -->

        <% end %>
      <% end %>
    </div>
    <!-- /.baners -->

    <a class="baners-nav-ctl baners-nav-left" href="">e</a>
    <a class="baners-nav-ctl baners-nav-right" href="">r</a>

  </section>
<!-- /.promo -->
