<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">

        <%= render 'banners' %>

        <% unless @recommended_products.empty? %>
          <!-- catalogue -->
          <section class="catalogue">
            
            <header>
              <h2>Рекомендуем</h2>
              <%= link_to 'Посмотреть все', products_with_scope_path('recommended') %>
            </header>
              
            <%= render 'shared/products', products: @recommended_products.first(8) %>

          </section>
          <!-- /catalogue -->
        <% end %>

        <% unless @sale_products.empty? %>
          <!-- catalogue -->
          <section class="catalogue">
            
            <header>
              <h2>Распродажа</h2>
              <%= link_to 'Посмотреть все', products_with_scope_path('sale') %>
            </header>
            
            <%= render 'shared/products', products: @sale_products.first(8) %>

          </section>
          <!-- /catalogue -->
        <% end %>

        <% unless @popular_products.empty? %>
          <!-- catalogue -->
          <section class="catalogue">
            
            <header>
              <h2>Популярное</h2>
              <%= link_to 'Посмотреть все', products_with_scope_path('popular') %>
            </header>

            <%= render 'shared/products', products: @popular_products.first(8) %>
            
          </section>
          <!-- /catalogue -->
        <% end %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->