<!-- .content -->
<div class="site-content-wrap">
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <% if flash[:order_complete]%>
        <div class="about" style="text-align: center;">
        	<h1 style="margin-bottom: 150px;">Спасибо за заказ!</h1>
        	<a href="/">Вернуться в магазин</a>
			<% if @order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
				<br /><%= link_to t('print_sberbank_invoice'), orders_sberbank_invoice_path %>
			<% end %>
        </div>
        <% else %>
        <% if current_user %>
        <!-- .account -->
        <section class="account">
          <header>
            <h1>Моя учетная запись</h1>
            <%= link_to 'Назад', account_path %>
          </header>
        </section>
        <!-- /.account -->
        <% end %>

        <% if params.has_key? :checkout_complete %>
          <h3><%= t('thank_you_for_your_order') %></h3>
        <% end %>
        <!-- .order -->
        <section class="order">
          <header>
            <h3>Заказ <%= @order.number %></h3>
          </header>
          <!-- table of orders -->
          <table class="fourcol">
            <tbody>
              <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Статус платежа</th>
                <th>Статус отправки</th>
                <th>Отслеживание</th>
                <th>Квитанция</th>
              </tr>
                <tr>
                  <td><%= @order.completed_at.to_date %></td>
                  <td><%= t(@order.state).titleize %></td>
                  <td><%= t("payment_states.#{@order.payment_state}") if @order.payment_state %></td>
                  <td><%= t("shipment_states.#{@order.shipment_state}") if @order.shipment_state %></td>
                  <% if not @order.shipments.empty? %>
                  <td><%= @order.shipments[0].tracking %></td>
                  <% else %>
                  <td></td>
                  <% end %>
                  <td>
				  <% if @order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
				  	<%= link_to 'Скачать', :controller=>"orders", :action=>"sberbank_invoice", :id => @order %>
				  <% end %>                  	
                  </td>
                </tr>
            </tbody>
          </table>
          <br />
          <header>
            <h3>Товары заказа</h3>
          </header>
          <!-- товары заказа -->
          <table class="fourcol">
            <tbody>
              <tr>
                <th>Описание товара</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итого</th>
              </tr>

              <% @order.line_items.each do |line_item| %>
              <!-- order item -->
              <tr>
                <td><%= line_item.variant.name %></td>
                <td><%= line_item.price.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
                <td><%= line_item.quantity %></td>
                <td><%= line_item.amount.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
              </tr>
              <!-- /order item -->
              <% end %>

              <tr>
                <td>Стоимость товаров:</td>
                <td></td>
                <td></td>
                <td><%= @order.item_total.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
              </tr>

              <% @order.adjustments.each do |ad| %>
              <!-- order item -->
              <tr>
                <td><%= ad.label %></td>
                <td></td>
                <td></td>
                <td><%= ad.amount.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
              </tr>
              <!-- /order item -->
              <% end %>

              <tr>
                <td>Итого заказ:</td>
                <td></td>
                <td></td>
                <td><%= @order.total.to_i rescue 0 %> <span class="rouble">Р<span></span></span></td>
              </tr>

            </tbody>
          </table>
          <!-- /table of orders -->
        </section>
        <!-- /.order -->

      </div>
      <% end %>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
</div>
<!-- /.content -->