<!-- .content -->
<div class="site-content-wrap">
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <!-- .about -->
        <section class="about" id="about">

          <h1>О нас</h1>

          <!-- item -->
          <article>
            <img src="/images/about_shop.png" alt="">
            <h2 class=""><%= @page.about_knigipodarki_title.html_safe rescue 'Магазин' %></h2>
            <p>
              <%= @page.about_knigipodarki.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

          <!-- item -->
          <article>
            <img src="/images/about_contacts.png" alt="">
            <h2 class=""><%= @page.about_contacts_title.html_safe rescue 'Контакты' %></h2>
            <p>
              <%= @page.about_contacts.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

        </section>
        <!-- /.about -->

        <!-- .about -->
        <section class="about" id="payment">

          <h1>Оплата</h1>

          <!-- item -->
          <article>
            <img src="/images/about_robo.png" alt="">
            <h2 class=""><%= @page.payment_robokassa_title.html_safe rescue 'Робокасса' %></h2>
            <p>
              <%= @page.payment_robokassa.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

          <!-- item -->
          <article>
            <img src="/images/about_cash.png" alt="">
            <h2 class=""><%= @page.payment_courier_title.html_safe rescue 'Наличными курьеру' %></h2>
            <p>
              <%= @page.payment_courier.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

        </section>
        <!-- /.about -->

        <!-- .about -->
        <section class="about" id="delivery">

          <h1>Доставка</h1>

          <!-- item -->
          <article>
            <img src="/images/about_delivery.png" alt="">
            <h2 class=""><%= @page.delivery_courier_title.html_safe rescue 'Курьерская' %></h2>
            <p>
              <%= @page.delivery_courier.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

          <!-- item -->
          <article>
            <img src="/images/about_mail.png" alt="">
            <h2 class=""><%= @page.delivery_ems_title.html_safe rescue 'EMS Почта России' %></h2>
            <p>
              <%= @page.delivery_ems.html_safe rescue '' %>
            </p>
            <img src="/images/about_postamat.png" alt="">
            <h2 class=""><%= @page.delivery_postamat_title.html_safe rescue 'Постамат' %></h2>
            <p>
              <%= @page.delivery_postamat.html_safe rescue '' %>
            </p>
            <img src="/images/about_self.png" alt="">
            <h2 class=""><%= @page.delivery_pickup_title.html_safe rescue 'Самовывоз' %></h2>
            <p>
              <%= @page.delivery_pickup.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

        </section>
        <!-- /.about -->

        <!-- .about -->
        <section class="about" id="business">

          <h1>Сотрудничество</h1>

          <!-- item -->
          <article>
            <img src="/images/about_distrib.png" alt="">
            <h2 class=""><%= @page.business_for_suppliers_title.html_safe rescue 'Поставщикам' %></h2>
            <p>
              <%= @page.business_for_suppliers.html_safe rescue '' %>
            </p>
            <img src="/images/about_opt.png" alt="">
            <h2 class=""><%= @page.business_wholesale_title.html_safe rescue 'Опт' %></h2>
            <p>
             <%= @page.business_wholesale.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

          <!-- item -->
          <article>
            <img src="/images/about_req.png" alt="">
            <h2 class=""><%= @page.business_details_title.html_safe rescue 'Реквизиты' %></h2>
            <p>
              <%= @page.business_details.html_safe rescue '' %>
            </p>
          </article>
          <!-- /item -->

        </section>
        <!-- /.about -->
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
</div>
<!-- /.content -->	