<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>knigipodarki</title>
</head>
<body>
<style type="text/css">
    a {color: #008294;}
    a:hover {text-decoration: none;}
</style>
<div id="mailsub">
<div style="background: white; padding: 58px 80px;  color: #404040;">
<h1 style="text-transform: uppercase; font-weight: normal; font-size: 30px; text-align: center;">Спасибо за ваш выбор</h1>
<div style="margin: 80px 0 0 0; text-align: center;"><img src="http://<%= Spree::Config[:site_url] %>/images/logo.png" alt="" width="575px" height="100px"></div>
<div style="border-bottom: 1px solid #404040; border-top: 1px solid #404040; margin: 50px 0 10px 0; padding: 34px 0;">
<h2 style="font-weight: normal; margin-bottom: 25px; font-size: 21px;">Номер заказа: <span style="color: #008294;"><%= @order.number %></span></h2>
<table width="640px" style=" margin-bottom: 50px;" cellpadding="0" cellspacing="0" border="0">
  <% @order.line_items.each do |line_item| %>
    <tr>
    <td width="400px"><%= link_to line_item.variant.product.name, product_url(line_item.variant.product) %></td>
    <td style="text-align: center;"><%= number_to_currency line_item.price %></td>
    <td width="60px" style="text-align: center;"><%= line_item.quantity %></td>
    <td style="text-align: center;"><%= number_to_currency line_item.quantity*line_item.price %></td>
    </tr>
  <% end %>
</table>
<h2 style="font-weight: normal; margin-bottom: 25px; font-size: 21px;">Доставка</h2>
<p style="font-size: 14px;  margin-bottom: 50px;">Доставка: <%= @order.shipping_method.name %>
<br />Получатель: <%= @order.ship_address.firstname %> <%= @order.ship_address.lastname %><br />
Адрес доставки: <%= @order.ship_address.zipcode %>, <%= @order.ship_address.country %>, <%= @order.ship_address.state %>,
<br /><%= @order.ship_address.city %>, <%= @order.ship_address.address1 %><br />
Стоимость доставки: <%=number_to_currency @order.adjustments.select { |ad| ad.label == 'Доставка' }.first.amount %></p>
<h2 style="font-weight: normal; margin-bottom: 25px; font-size: 21px;">Оплата</h2>
<p style="font-size: 14px; margin-bottom: 50px;">Оплата: <%= @order.payment_method.name %><br />
<p style="margin: 0 0 50px 0; font-weight: bold; font-size: 21px; color: #008294;">Итого <%= number_to_currency @order.total %></p>
<p style="margin: 25px 0 0 0;"><%= link_to 'Следить за статусом выполнения заказа', order_url(@order) %></p>
</div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td>С наилучшими пожеланиями, КнигиПодарки</td><td style="text-align: right;"><a href="http://knigipodarki.ru" target="_blanc">knigipodarki.ru</a></td></tr>
</table>
</div>
</div>
</body>