<div class="yui-gc">
  <div class="yui-u first">
    <%- locals = {:f => f} %>
    <%= hook :admin_product_form_left, locals do %>
      <%= f.field_container :name do %>
        <%= f.label :name, t("name") %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title'  %>
        <%= f.error_message_on :name %>
      <% end %>
      
      <%= f.field_container :subname do %>
        <%= f.label :subname, 'Название' %><br />
        <%= f.text_field :subname, :class => 'fullwidth title', :readonly => true, :disabled => true  %>
        <%= f.error_message_on :subname %>
      <% end %>      
      
      <%= f.field_container :supplier do %>
        <%= f.label :supplier, 'Поставщик' %><br />
        <%= f.text_field :supplier, :class => 'fullwidth title', :readonly => true, :disabled => true  %>
        <%= f.error_message_on :supplier %>
      <% end %>    
      
      <%= f.field_container :category_name do %>
        <%= f.label :category_name, 'Категория' %><br />
        <%= f.text_field :category_name, :class => 'fullwidth title', :readonly => true, :disabled => true  %>
        <%= f.error_message_on :category_name %>
      <% end %>         

      <%= f.field_container :permalink do %>
        <%= f.label :permalink, t("permalink") %> <span class="required">*</span><br />
        <%= f.text_field :permalink, :class => 'fullwidth title'  %>
        <%= f.error_message_on :permalink %>
      <% end %>

      <%= f.field_container :description do %>
        <%= f.label :description, t("description")%><br />
        <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
      <% end %>

    <% end %>
  </div>
  <div class="yui-u">
    <%= hook :admin_product_form_right, locals do %>
      <%= f.field_container :price do %>
        <%= f.label :price, t("master_price")%> <span class="required">*</span><br />
        <%= f.text_field :price, :value => number_with_precision(@product.price, :precision => 2)  %>
        <%= f.error_message_on :price %>
      <% end %>

      <%= f.field_container :sale_price do %>
        <%= f.label :sale_price, 'Цена со скидкой' %><br />
        <%= f.text_field :sale_price, :value => number_with_precision(@product.sale_price, :precision => 2) %>
        <%= f.error_message_on :sale_price %>
      <% end %>

      <p>
        <%= f.label :on_hand, 'Склад 1' %>
        <%= f.text_field :on_hand, :size => 4 %>
        &ensp;
        <%= f.label :on_hand_add, 'Склад 2' %>
        <%= f.text_field :on_hand_add, :size => 4 %>
      </p>

      <%= f.field_container :is_published do %>
        <%= f.label :is_published, 'Опубликован' %>
        <%= f.check_box :is_published %>
        <%= f.error_message_on :is_published %>
      <% end %>

      <p>
        <%= f.label :recommended, t("show_in_recommended") %>
        <%= f.check_box :recommended %>
        &ensp;
        <%= f.label :tagged_as_new, 'Новинка' %>
        <%= f.check_box :tagged_as_new %>
      </p> 
      <p>
        <%= f.label :product_type, 'Тип товара' %><br />
        <%= f.select :product_type, @product.available_types, :include_blank => true %>
      </p>
      <p>
        <%= f.label :weight, t("weight")%>
        <%= f.text_field :weight, :size => 4, value: @product.weight.to_i %>
        &ensp;
        <%= f.label :height, t("height")%>
        <%= f.text_field :height, :size => 4, value: @product.height.to_i %>
        &ensp;
        <%= f.label :width, t("width")%>
        <%= f.text_field :width, :size => 4, value: @product.width.to_i %>
      </p>
      <p>
        <%= f.label :annotation, 'Аннотация' %><br />
        <%= f.text_area :annotation %>
      </p> 
      <% if @product.product_type == 'not_book' %>
        <p>
          <%= f.label :material, 'Материал' %><br />
          <%= f.select :material, [['ПВХ','pvh'],['текстиль', 'textile'],['кожа','leather']] , :include_blank => true %>&ensp;*для товаров категории "на паспорт"
        </p>
      <% end %>
      <% if @product.product_type == 'book' %>
        <p>
          <%= f.label :author, 'Автор'%>
          <%= f.text_field :author %>
        </p>
        <p>
          <%= f.label :publishing_year, 'Год публикации'%>
          <%= f.text_field :publishing_year %>
        </p>
        <p>
          <%= f.label :isbn, 'ISBN'%>
          <%= f.text_field :isbn %>
        </p>     
        <p>
          <%= f.label :pages, 'Количество страниц'%>
          <%= f.text_field :pages, :size => 4 %>
        </p>      
      <% end %>
      <h4>Тэги:</h4>
      <p>
        <a id="add_tag_field"><img alt="Add" src="/images/admin/icons/add.png?1347284078" />Добавить тэг</a><br />
        <div id="tags_fields">
          <%= f.fields_for :tags do |tags_form| %>
            <%= tags_form.text_field :name, class: 'tag_name_field' %>
            <%= tags_form.check_box :_destroy %>
            <%= tags_form.label :_destroy, "Удалить" %>
          <% end %>
        </div>
        <script>
          $('#add_tag_field').click(function(e){
            e.preventDefault();
            var tagNumber = $('.tag_name_field').size();
            var partial = '<input class="tag_name_field" id="product_tags_attributes_' + tagNumber + '_name" name="product[tags_attributes][' + tagNumber + '][name]" size="30" type="text" value="" />'
            $('#tags_fields').prepend(partial);
          });
        </script>
      </p>
    <% end %>
  </div>
</div>


<%= hook :admin_product_form_additional_fields, locals do %>
  <% Variant.additional_fields.select{|af| af[:only].nil? || af[:only].include?(:product) }.each do |field| %>
    <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
  <% end %>
<% end %>