<div class="specs">
  <h3>Характеристики</h3>
  <% if @product.product_type == 'book' %>
    <p>
      <% if @product.publisher %>
        Издательство: <%= link_to @product.publisher_object.name, @product.publisher_object.permalink %>, <%= @product.publishing_year %><br>
      <% end %>
      <% if @product.isbn %>
        ISBN: <%= @product.isbn %><br>
      <% end %>
      <% if @product.pages %>
        Объем — <%= @product.pages %> стр.<br>
      <% end %>
      <% if @product.width && @product.height %>
        Формат — <%= @product.width.to_i %>x<%= @product.height.to_i %> мм<br>
      <% end %>
      <% if  @product.weight %>
        Вес: <%= @product.weight.to_i %> г<br>
      <% end %>
      <% if @product.annotation %>
        <%= @product.annotation %>
      <% end %>
    </p>
  <% elsif @product.product_type == 'not_book' %>
    <p>
      <% if @product.designer %>
        Студия: <%= link_to @product.designer_object.name, @product.designer_object.permalink %><br>
      <% end %>
      <% if @product.width && @product.height %>
        Размер: <%= @product.width.to_i %>x<%= @product.height.to_i %> мм<br>
      <% end %>      
      <% if @product.weight %>
        Вес: <%= @product.weight.to_i %> г<br>
      <% end %>
      <% if @product.annotation %>
        <%= @product.annotation %>
      <% end %>
    </p>
  <% end %>
</div>