<!-- .content -->
<section class="site-content">
  <div class="white-wrap">
    <div class="wrap">

      <% if @products.empty? %>
        <div style="margin-bottom: 25px; text-align: center; font-size: 21px; font-weight: bold;"><%= t(:no_products_found) %></div>        
        
        <% if @tags && !@tags.empty? %>
          <aside class="tags">
            <ul>
              <% @tags.each do |tag| %>
                <li><%= link_to tag.name, products_tags_path(tag.name) %></li>
              <% end %>
            </ul>
          </aside>
        <% end %>        
      <% else %>
        <!-- catalogue -->
        <section class="catalogue">

          <% if params[:scope] %>
            <h2><%= I18n.t("products_#{params[:scope]}") %></h2>
          <% end %>

          <%= render "shared/products_sorting", :products => @products %>
          <%= render "shared/products", :products => @products %>
          <%= render "shared/products_pagination", :products => @products %>
        </section>
        <!-- /catalogue -->
      <% end %>

    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.white-wrap -->
</section>
<!-- /.content -->

