<% if params[:keywords] %>
  <% if @products.empty? %>
    <!-- .content -->
    <section class="site-content">
      <div class="white-wrap">
        <div class="wrap">
          <%= t(:no_products_found) %>
        </div>
        <!-- /.wrap -->
      </div>
      <!-- /.white-wrap -->
    </section>
    <!-- /.content -->
  <% else %>
    <!-- .content -->
    <section class="site-content">
      <div class="white-wrap">
        <div class="wrap">
          <!-- catalogue -->
          <section class="catalogue">
            <%= render "shared/products_sorting", :products => @products %>
            <%= render "shared/products", :products => @products %>
            <%= render "shared/products_pagination", :products => @products %>
          </section>
          <!-- /catalogue -->
        </div>
        <!-- /.wrap -->
      </div>
      <!-- /.white-wrap -->
    </section>
    <!-- /.content -->
  <% end %>
<% else %>
  <!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <!-- catalogue -->
        <section class="catalogue">
          <%= render "shared/products_sorting", :products => @products %>
          <%= render "shared/products", :products => @products %>
          <%= render "shared/products_pagination", :products => @products %>
        </section>
        <!-- /catalogue -->
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
  <!-- /.content -->
<% end %>

