<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
                
        <!-- .breadcrumps -->
        <nav class="breadcrumps">
          <ul>
            <li><a href="">Вернутся назад</a></li>
          </ul>
        </nav>
        <!-- /.breadcrumps -->

        <!-- .product -->
        <section class="product">
          
          <!-- product image -->
          <figure>
            <%= large_image(@product) %>
            <% unless @product.images.empty? %>
              <ul>
                <% @product.images.each do |image| %>
                  <li><%= image.attachment.url(:small) %></li>
                <% end %>
              </ul>
            <% end %>
          </figure>
          <!-- /product image -->

          <!-- product content -->
          <article>
            <hgroup>
              <h4>Арт. <%= @product.sku %></h4>
              <h1><%= @product.title %></h1>
              <h2><%= @product.author %></h2>
              <span class="marker">новинка</span>
              <ul class="product-social">
                <li class="icon-vk"><a href="">y</a></li>
                <li class="icon-facebook"><a href="">u</a></li>
                <li class="icon-twitter"><a href="">i</a></li>
              </ul>
            </hgroup> 
            <div class="cartline">
              <div class="cart">
                <span><%= @product.price %> р</span>
                <%= form_for :order, :url => populate_orders_url, remote: true do |f| %>
                  <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1 %>             
                  <a href="" class="add-to-cart">t</a> 
                <% end %>
              </div>
              <% if @product.count_on_hand > 0 %>
                <span class="stock">В наличии</span>
              <% else %>
                <span class="stock">Нет в наличии</span>
              <% end %>
              <a href="" class="payment">Способы оплаты и доставки</a>
            </div>
            <p>
              <%= @product.description %>
            </p>
          </article>
          <!-- /product content -->
          <!-- addional info -->
          <aside>
            <div class="specs">
              <h3>Характеристики</h3>
              <p>
                Издательство: Символ-Плюс, 2005<br>
                ISBN 5-93286-030-8<br>
                Объем — 272 стр.<br>
                Формат — 170×240 мм<br>
                Вес: 400 г<br>
                Мягкий переплет, Суперобложка
              </p>
            </div>
            <div class="product-tags">
              <%= @product.tags.each do |tag| %>
                <a href=""><%= tag.name %></a>,&nbsp;
              <% end %>
            </div>
          </aside>
          <!-- /addional info -->

        </section>
        <!-- /.product -->

        <%= render 'shared/related_products' %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->