<% content_for :meta_title do %>
<% if @product.category_object && @product.subcategory_object.present? %>
- <%= @product.name %> - <%= @product.subcategory %>
<% else %>
- <%= @product.name %>
<% end %>
<% end %>
<% content_for :meta_description do %>
<% if @product.category_object && @product.subcategory_object.present? %>
<%= @product.subcategory %> - <%= @product.name %>
<% else %>
<%= @product.name %>
<% end %>
<% end %>
<%= content_for :subnav do %>
  <nav class="sub-direction-nav">
  <% if @product.category_object && @product.subcategory_object.present? %>
    <ul>
      <li><%= link_to 'Все', @product.subcategory_object.parent.permalink %></li>
      <% @product.category_object.children.each do |taxon| %>
          <% if @product.subcategory == taxon.name %>
            <li class="current">
          <% else %>
            <li>
          <% end %>
            <%= link_to taxon.name, taxon.permalink %>
          </li>
      <% end %>
    </ul>
  <% end %>
  </nav>
<% end %>

<!-- .content -->
<div class="site-content-wrap">
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
                
        <%= render 'shared/breadcrumbs' %>

        <!-- .product -->
        <section class="product">
          <!-- product image -->
          <figure>
            <% unless @product.images.empty? %>
              <%= image_tag @product.images.first.attachment.url(:large), id: 'product_image' %>
            <% else %>
              <%= image_tag '/images/noimage/one_noimage.png' %>
            <% end %>

            <% unless @product.images.empty? %>
              <ul>
                <% @product.images.each do |image| %>
                  <li><a href="<%= image.attachment.url(:large) %>" class="product_image_thumb"><%= image_tag image.attachment.url(:mini) %></a></li>
                <% end %>
              </ul>
            <% end %>
          </figure>
          <!-- /product image -->

          <!-- product content -->
          <article>
            <hgroup>
              <h4>Арт. <%= @product.sku %></h4>
              <h1><%= @product.name %></h1>
              <h2><%= @product.author %></h2>
              <% if @product.tagged_as_new %>
                <span class="marker">новинка</span>
              <% end %>
              <br clear="both" />
              <%= render 'product_social' %>
            </hgroup> 
            <div class="cartline">
              <div class="single_cart">
                <% if @product.sale_price %>
                  <span class="ops"><%= @product.price.to_i rescue 0 %></span>
                  <span class="no_bord"><%= @product.sale_price.to_i rescue 0 %></span>
                <% else %>
                  <span><%= @product.price.to_i rescue 0 %> <span class="rouble">Р<span></span></span></span>
                <% end %>

                <% if @product.on_hand > 0 %>
                  <%= form_for :order, :url => populate_orders_url, remote: true do |f| %>
                    <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1 %>             
                    <a href="" class="add-to-cart">t</a> 
                  <% end %>
                <% end %>
              </div>
              <% if @product.on_hand > 0 %>
                <span class="stock">В наличии</span>
              <% else %>
                <span class="stock">Нет в наличии</span>
              <% end %>
              <a href="/info#payment" class="payment">Способы оплаты и доставки</a>
              <% if @product.on_hand or @product.on_hand_add or @product.on_hand_add2 %>                    
                <div class="offline-shops">
                  <span class="offline-shops-label">Также в <a href="/info#about">оффлайне</a>:</span>
                  <ul>
                    <% if @product.on_hand %><li>Лиговский пр., 74</li><% end %>
                    <% if @product.on_hand_add %><li>ТД Пассаж, 3-й этаж</li><% end %>
                    <% if @product.on_hand_add2 %><li>ТК Сенная</li><% end %>
                  </ul>
                </div>
              <% end %>
            </div>
            <p>
              <%= @product.description.html_safe rescue '' %>
            </p>
          </article>
          <!-- /product content -->
          <!-- addional info -->
          <aside>
            <%= render 'product_features' %>
            <div class="product-tags">
              <% @product.tags.each do |tag| %>
              	<% if tag.name != '' %>
                <%= link_to tag.name, products_tags_path(tag.name) %><% unless tag == @product.tags.last %>,<% end %><% end %>
                <% end %>
            </div>
          </aside>
          <!-- /addional info -->

        </section>
        <!-- /.product -->

        <% unless @product.related_products.empty? %>
          <!-- catalogue -->
          <section class="catalogue">

            <header>
              <h2>ЭТО ВАМ МОЖЕТ БЫТЬ ИНТЕРЕСНО</h2>
            </header>

            <%= render "shared/products", :products => @product.related_products %>
          </section>
          <!-- /catalogue -->
        <% end %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
</div>
<!-- /.content -->