<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
                
        <%= render 'shared/breadcrumbs' %>

        <!-- .product -->
        <section class="product">
          
          <!-- product image -->
          <figure>
            <% unless @product.images.empty? %>
              <%= image_tag @product.images.first.attachment.url(:large), id: 'product_image' %>
            <% else %>
              <%= image_tag '/images/noimage/one_noimage.png' %>
            <% end %>

            <% unless @product.images.empty? %>
              <ul>
                <% @product.images.each do |image| %>
                  <li><a href="<%= image.attachment.url(:large) %>" class="product_image_thumb"><%= image_tag image.attachment.url(:mini) %></a></li>
                <% end %>
              </ul>
            <% end %>
          </figure>
          <!-- /product image -->

          <!-- product content -->
          <article>
            <hgroup>
              <h4>Арт. <%= @product.sku %></h4>
              <h1><%= @product.name %></h1>
              <h2><%= @product.author %></h2>
              <% if @product.tagged_as_new %>
                <span class="marker">новинка</span>
              <% end %>
              <%= render 'product_social' %>
            </hgroup> 
            <div class="cartline">
              <div class="single_cart">
                <% if @product.sale_price %>
                  <span style="text-decoration:line-through"><%= @product.price %> р</span>
                  <span><%= @product.sale_price %> р</span>
                <% else %>
                  <span><%= @product.price %> р</span>
                <% end %>

                <%= form_for :order, :url => populate_orders_url, remote: true do |f| %>
                  <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1 %>             
                  <a href="" class="add-to-cart">t</a> 
                <% end %>
              </div>
              <% if @product.count_on_hand > 0 %>
                <span class="stock">В наличии</span>
              <% else %>
                <span class="stock">Нет в наличии</span>
              <% end %>
              <a href="" class="payment">Способы оплаты и доставки</a>
            </div>
            <p>
              <%= @product.description %>
            </p>
          </article>
          <!-- /product content -->
          <!-- addional info -->
          <aside>
            <div class="specs">
              <h3>Характеристики</h3>
              <% if @product.product_type == 'book' %>
                <p>
                  Издательство: <%= @product.publisher %>, <%= @product.publishing_year %><br>
                  ISBN: <%= @product.isbn %><br>
                  Объем — <%= @product.pages %> стр.<br>
                  Формат — <%= @product.width %>x<%= @product.height %> мм<br>
                  Вес: <%= @product.weight %> г.<br>
                  <%= @product.annotation %>
                </p>
              <% elsif @product.product_type == 'gift' %>
                <p>
                  Дизайнер: <%= @product.designer %><br>
                  Вес: <%= @product.weight %> г.<br>
                  <%= @product.annotation %>
                </p>
              <% end %>
            </div>
            <div class="product-tags">
              <% @product.tags.each do |tag| %>
                <%= link_to tag.name, products_tags_path(tag.name) %>,&nbsp;
              <% end %>
            </div>
          </aside>
          <!-- /addional info -->

        </section>
        <!-- /.product -->

        <% unless @product.related_products.empty? %>
          <!-- catalogue -->
          <section class="catalogue">

            <header>
              <h2>Вам может это быть интересно</h2>
            </header>

            <%= render "shared/products", :products => @product.related_products %>
          </section>
          <!-- /catalogue -->
        <% end %>

      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->