<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <section class="forms auth">

          <h3><%= t("new_customer") %></h3>

          <% if flash %>
            <% flash.each do |msg| %>
              <%= msg[1] %><br />
            <% end %>
          <% end %>

          <%= form_for(:user, :url => registration_path(@user), html: {autocomplete: :off}) do |f| %>
            <fieldset>
              <%= f.label :email, t("email") %>
              <%= f.text_field :email, :class => 'title'  %>
   	          <% if @user.errors[:email].present? %>
	        	<div><%= @user.errors[:email][0] %></div>
	          <% end %>                 
            </fieldset>
            <fieldset>
                <%= f.label :password, t("password") %>
                <%= f.password_field :password, :class => 'title'  %>
   	          	<% if @user.errors[:password].present? %>
	        		<div><%= @user.errors[:password][0] %></div>
	          	<% end %>                  
            </fieldset>

            <fieldset>
                <%= f.label :password_confirmation, t(:confirm_password) %>
                <%= f.password_field :password_confirmation, :class => 'title' %>
   	          	<% if @user.errors[:password_confirmation].present? %>
	        		<div><%= @user.errors[:password_confirmation][0] %></div>
	          	<% end %>                
            </fieldset>
            <div class="controls">
              <input class="blue" type="submit" value="Сохранить">
            </div>
          <% end %>

        </section>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->