<!-- .content -->
  <section class="site-content">
    <div class="white-wrap">
      <div class="wrap">
        <section class="forms auth">

          <h3><%= t("new_customer") %></h3>

          <% if flash %>
            <% flash.each do |msg| %>
              <%= msg[1] %><br />
            <% end %>
          <% end %>

          <%= form_for(:user, :url => registration_path(@user), html: {autocomplete: :off}) do |f| %>

            <%= render 'shared/field_with_error', form: f, name: :email, 
                       class_name: 'title', label: t('email'), errors: @user.errors %>

            <%= render 'shared/field_with_error', form: f, name: :password, 
                       class_name: 'title', label: t('password'), errors: @user.errors %>

            <%= render 'shared/field_with_error', form: f, name: :password_confirmation, 
                       class_name: 'title', label: t(:confirm_password), errors: @user.errors %>

            <div class="controls">
              <input class="blue" type="submit" value="Сохранить">
            </div>
          <% end %>

        </section>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.white-wrap -->
  </section>
<!-- /.content -->