<!-- .site-header -->
  <header class="site-header">
    <!-- .sh-panel -->
    <section class="panel">
      <div class="wrap">

        <nav>
          <ul>
            <li><a href="/info#about">О нас</a></li>
            <li><a href="/info#payment">Как покупать</a></li>
            <li><a href="/info#delivery">Доставка</a></li>
            <li><a href="/info#about">Контакты</a></li>
          </ul>
        </nav>

        <% if current_user %>
        <!-- .sh-login -->
        <div class="user">
          <div class="user_wrap">
            <%= link_to User.find(current_user).email, account_path , :class => "user_name" %>
            <span class="user_controls">
              <span class="arrow"></span>
              <%= link_to t('logout'), destroy_user_session_path, :class => "logo_out" %>
            </span>

          </div>
        </div>
        <!-- /.sh-login -->
        <% else %>
        <!-- .sh-login -->
        <div class="login">
            <%= link_to 'Войти', login_path, class: 'l-login' %>
            <a href="" class="l-registration">Зарегистрироваться</a> 
          </div>
        </div>
        <!-- /.sh-login -->
        <% end %> 

        <%= render 'shared/login_form' %>
        <%= render 'shared/registration_form' %>
        <%= render 'shared/restore_password_form' %>

        <div class="phone"><%= Spree::Config[:main_phone] %></div><!-- .sh-phone -->

        <!-- clearfix --><div class="cl"></div>

      </div>
    </section>
    <!-- .sh-panel -->

    <!-- .navigation -->
    <section class="navigations wrap">

      <div class="wrap-row">
        <%= link_to root_url, class: 'logo' do %>
          <img src="/images/logo.png" alt="">
        <% end %>
        
        <nav class="search">
          <form action="/products" method="get">
            <input type="text" name="keywords">
            <input type="submit" value="3">
          </form>
        </nav>
      </div>

      <%= render 'shared/navigation' %>

      <!-- clearfix --><div class="cl"></div>

    </section>
    <!-- /.navigation -->

  </header>
<!-- /.site-header -->
